@media screen and (max-aspect-ratio:8/10) {
    /*-------------------------------------------------------共通*/

    .header-img-gradient,.top-menu-gradient,.top-menu-box,.top-menu,.lang-con,.flower-cut,.black-flower{
        display: none;
    }

    label, input, textarea, select, option {
        font-size:calc(100vw / (1920 / 22));
    }

    .page-title{
        font-size:calc(100vw/(1920 / 180));
        color:#579444;
        text-shadow:none;
    }


/* 1枚目　home画面 */
    .page-box{
        padding-right: 0vw;
        padding-left:0vw;
    }

    .header-logo{
        background-size:cover;
        background-image:url(../img/logo2.png);
        position: absolute;
        top:calc(100vw/(1920 / 10));
        left:calc(100vw/(1920 / 10));
        width:calc(100vw/(1920/350));
        height:calc(100vw/(1920/350));
    }

    /* 背景画像の設定 */
    .header-img{
        background-image: url(../img/background-sma.jpg);
        background-size: cover;
        height: calc(100vw / 0.56);
        position: relative;
    }
    
    .smartphone-top-menu-button{
        background-image: url(../img/hamburger.png);
        background-size: cover;
        width: calc(100vw / (1920 / 370));
        height: calc(100vw / (1920 / 350));
        position: fixed;
        right: calc(100vw / (1920 / 5));
        top: calc(100vw / (1920 / 5));
        z-index: 100;
    }

    .smartphone-top-menu-button:hover{
        cursor: pointer;
    }

/*スマホのハンバーガーボタンが押された場合、表示されるメニューリスト*/
    .smartphone-top-menu-list{
        display: none;
        color:#FFFFFF;
        font-size:calc(100vw/(1920 / 80));
        position: fixed;
        top: 0;
        width: 100vw;
        height: 100vh;
        list-style-type: none;
        background: linear-gradient(200deg, rgba(0, 0, 0, 1), rgba(57, 54, 55, .9));
        z-index: 100;
    }

    .smartphone-top-menu-list li{
        margin:calc(100vw/(1920/30)) calc(100vw/(1920/80));
        line-height: 5em;
    }

    .smartphone-top-menu-list li a{
        text-decoration: none;
        color: #FFFFFF;
        font-size: calc(100vw/(1920/100));
    }

    .smartphone-top-menu-list li a:hover{
        color: #549544;
        border-bottom: none;
    }

/*Twitterのアイコン*/
    .twitter-top-icon{
        width: calc(100vw / (1920 / 300));
        position: absolute;
        bottom: calc(100vw / (1920 / 5));
        display: initial;
    }

/* 2枚目　about */
    .about-font{
        margin-top: calc(100vw/(1920/400));
    }

    .cheff-comment{
        font-size:calc(100vw/(1920 / 60));
        color:#393637;
    }
    .cheff,.cheff-name {
        font-weight:bold;
        font-size:calc(100vw/(1920 / 60)) ;
    }

    .panda-comment{
        margin-left:calc(100vw/(1920 / 30));
        margin-right: calc(100vw/(1920 / 30));
        font-size:calc(100vw/(1920 / 65));
        float: none;
    }
    
    .about-font h2{
        font-size:calc(100vw/(1920 / 80));
        color:#393637;
        margin-bottom: calc(100vw/(1920/200));
        margin-left:calc(100vw/(1920/150));
    }

    .alignt-right{
        display: inline-block;
        margin-top: calc(100vw/(1920/200));
        margin-right:calc(100vw/(1920/150)) ;
    }

    .about-panda{
        background-size:cover;
        background-image:url(../img/panda-tentyo_mu.png);
        width:calc(100vw/(1920/400));
        height:calc(100vw/(1920/500));
        float:right;
        margin-top: calc(100vw/(1920/100));
        margin-right:calc(100vw/(1920/150));
        margin-bottom:calc(100vw/(1920/500));
    }

    .green-flower{
            /*backgroundサイズとイメージで画像を指定*/
    background-size:cover;
    background-image:url(../img/smartphone-green-flower.png);
    /*widthとhightで要素の表示サイズを指定*/
    float:right;
    }

    /* 3枚目　 news*/
    .news-font,.news-font h2,.twitter-style a,.page-box-news,.page-title-news{
        display: none;
    }

    /* 4枚目　menu */
    .menu-font{
        margin-top: calc(100vw/(1920/400));
    }

    .menu-font h2{
        font-size:calc(100vw/(1920 / 80));
        color:#393637;
        margin-bottom: calc(100vw/(1920/200));
        margin-left: calc(100vw/(1920/150));
    }

    .food-menu{
        width: calc(100vw/(1920/1450));
        height:calc(100vw/(1920/950));
        margin: 0 auto;
        float: initial;
    }

    .food-menu nav{
        padding-top: calc(100vw/(1920 /40));
    }

    .food-menu nav h3{
        font-size: calc(100vw/(1920 / 80));
        line-height: 1.7em;
    }

    .food-menu nav ul{
        font-size: calc(100vw/(1920 / 80));
        line-height: 1.2em;
    }

    .food-menu nav ul li{
        font-size: calc(100vw/(1920 / 75));
    }

    .food-menu-line-spacing-adjustment{
        display: block;
        width: calc(100vw/(1920/1450));
        height: calc(100vw/(1920 / 100));
    }

    .menu-cafe-image{
        background-image: url(../img/food-img.png);
        background-size:cover;
        width: calc(100vw/(1920/1481));
        height: calc(100vw/(1920/1554));
        float: initial;
        margin: 0 auto;
    }

    /* 5枚目　order */
    .order-font{
        margin-top: calc(100vw/(1920/400));
    }

    .order-font h2{
        margin-bottom: calc(100vw/(1920/200));
        font-size:calc(100vw/(1920 / 80));
        color:#393637;
        margin-left: calc(100vw/(1920/150));
    }

    .form-box{
        color:#393637;
        width: calc(100vw/(1920/1450));
        margin: 0 auto;
    }

    .form-font{
        font-size:calc(100vw/(1920 /90));
        margin-top: calc(100vw/-(1920/200));
    }

    .form-font span{
        font-size:calc(100vw/(1920 /80));
    }

    .label-box{
        margin-top:calc(100vw/(1920 /120)) ;
    
    }
    
    .label-line{
        font-size: calc(100vw/(1920/70));
        width: calc(100vw/(1920 /300));
        height:calc(100vw/(1920 / 100));
        float: left;
    }
    .label-line2{
        font-size: calc(100vw/(1920/65));
        width: calc(100vw/(1920 /1100));
        height:calc(100vw/(1920 /200));
        float: right;
        margin-bottom:calc(100vw/(1920 / 20));
        margin-right: 0;
        margin-left: calc(100vw/(1920 / 5));
    }

    .label-line3{
        font-size: calc(100vw/(1920/70));
        width: calc(100vw/(1920 / 1000));
        height:calc(100vw/(1920 / 200));
        float: right;
        margin-bottom:calc(100vw/(1920 / 30));
    }
    
    .label-comment{
        font-size: calc(100vw/(1920/60));
        width: calc(100vw/(1920 / 1100));
        height:calc(100vw/(1920 / 500));
        float: right;
        margin-left: calc(100vw/(1920 / 5));
        margin-bottom:calc(100vw/(1920 / 90));
        margin-right: 0;
    }


    /* 6枚目　contact */
    .contact-font{
        font-size:calc(100vw/(1920 / 80));
        color:#393637;
        margin-top: calc(100vw/(1920/400));
    }

    .contact-font h2{
        font-size:calc(100vw/(1920 / 80));
        color:#393637;
        margin-left:calc(100vw/(1920/150));
    }

    .ggrmaps{
        width: calc(100vw/(1920/1400));
        margin: auto;
    }

    .ggrmaps iframe{
        margin-bottom: initial;
        margin-left:initial;
        width: calc(100vw/(1920/1400));
        height: calc(100vw/(1920/1200));
    }
    
    
    /*会社情報*/
    .company-name{
        margin-top: calc(100vw/(1920/150));
        font-size: calc(100vw/(1920 / 60));
        margin-bottom: calc(100vw/(1920/100));
        margin-right: initial;
        float: initial;
    }

    .company-box{        
        margin-bottom: calc(100vw/(1920/20));
    }

    .concept-name{
        font-size: calc(100vw/(1920 / 80));
        color:#579444;
    }

    .cafe-name{
        font-size: calc(100vw/(1920 / 70));
    }

    .copyright {
        color:white;
        font-size: calc(100vw/(1920 / 45));
    }
}